@charset "utf-8";

@font-face {
  font-family: 'iconfont';

  /* project id 1830148 */
  src: url('//at.alicdn.com/t/font_1830148_4m0w60x7asx.eot');
  src: url('//at.alicdn.com/t/font_1830148_4m0w60x7asx.eot?#iefix')
      format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1830148_4m0w60x7asx.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1830148_4m0w60x7asx.woff') format('woff'),
    url('//at.alicdn.com/t/font_1830148_4m0w60x7asx.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1830148_4m0w60x7asx.svg#iconfont') format('svg');
}

// select下拉按钮
.el-icon-close {
  color: #c8c8cb !important;
  font-family: 'iconfont' !important;
  font-size: 16px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;

  &::before {
    // content: "\e6d9";
    content: '\e71a';
  }
}
