@charset "utf-8";
@import '../_base.scss';

// 自定义表格
.custom-table {
  margin-top: 20px;
  background-color: transparent !important;

  &::before {
    content: none !important;
  }

  .el-table__header-wrapper,
  .el-table__fixed-header-wrapper {
    tr {
      background-color: $backcolor !important;
    }

    th {
      padding: 0;
      border: none !important;
      background-color: $backcolor !important;

      & > .cell {
        font-size: 12px;
      }
    }
  }

  .hover-row {
    // box-shadow: 0px 16px 10px -11px rgba(241, 183, 208, 0.25) !important;
    td {
      background-color: #fff !important;
      // border-width: 1px 0 1px 0 !important;
      // border-style: solid !important;
      // border-color: rgba(241, 183, 208, 0.5) !important;
    }
  }
  .el-table__header-wrapper {
  }

  .el-table__header-wrapper,
  .el-table__body-wrapper,
  .el-table__fixed-right,
  .el-table__fixed {
    .el-table__body {
      border-spacing: 0 4px;
    }

    tr {
      // border-radius: 10px;
      box-shadow: 0px 8px 10px 0px rgba(232, 235, 244, 0.63);

      td:first-of-type {
        // border-radius: 10px 0 0 10px;
      }

      td:last-of-type {
        // border-radius: 0 10px 10px 0;
      }

      &:hover {
        box-shadow: 0px 16px 10px -11px rgba(241, 183, 208, 0.25) !important;

        td {
          background-color: #fff !important;
          // border-width: 1px 0 1px 0 !important;
          // border-style: solid !important;
          // border-color: rgba(241, 183, 208, 0.5) !important;
        }
      }
    }

    td {
      // border: 1px solid #fff;
      color: $textcolor1;
      font-size: 12px;
    }
  }

  .el-table__fixed-right,
  .el-table__fixed {
    tr {
      box-shadow: none;
    }

    .hover-row {
      box-shadow: none !important;

      td {
        background-color: #fff !important;
        // border-width: 1px 0 0 0 !important;
        // border-style: solid !important;
        // border-color: rgba(241, 183, 208, 0.5) !important;
      }
    }
  }

  // 商品信息
  .product-info {
    display: flex;

    .image {
      flex-shrink: 0;
      width: 60px;
      height: 60px;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      margin-left: 20px;

      .name {
        font-size: 12px;
        line-height: 1.2;
        color: #222530;
      }

      .code,
      .sku-code,
      .spu-code {
        margin-top: 7px;
        font-size: 12px;
        line-height: 1;
        color: #909297;
      }

      .brand {
        margin-top: 12px;
        font-size: 12px;
        line-height: 1;
        color: #c8c8cb;
      }
    }
  }

  // 排序
  .sort-box {
    &.disabled {
      cursor: not-allowed;
      .sort-view {
        pointer-events: none;
      }
    }
  }
  .sort-view {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    .text {
      font-size: 12px;
      line-height: 1;
      color: #222530;
    }

    .icon {
      margin-left: 20px;
    }
  }

  .sort-edit {
    width: 70px;
    border-radius: 4px;

    .el-input__inner {
      width: 80px;
      height: 30px;
      line-height: 28px;
      margin-left: -10px;
      padding-left: 10px;
    }
  }
}

.custom-form {
  .is-error {
    .upload-image .default {
      border: 1px solid #b95881 !important;
    }
  }
}

// 去掉tabs的::after
.el-tabs__header {
  .el-tabs__nav-wrap {
    &:after {
      content: none !important;
    }
  }
}

// 自定义switch
.custom-switch.el-switch {
  height: 22px;

  &.is-checked .el-switch__core {
    background: rgba(135, 134, 191, 0.4);
    &::after {
      margin-left: -19px;
    }
  }

  .el-switch__label {
    position: absolute;
    z-index: 1;
    height: 22px;
    margin: 0;
    line-height: 20px;

    span {
      font-size: 12px;
    }

    &.el-switch__label--left {
      display: none;
      right: 7px;
      color: #8786bf;
    }

    &.el-switch__label--right {
      display: none;
      left: 7px;
      color: #fff;
    }

    &.is-active {
      display: inline-block;
    }
  }

  .el-switch__core {
    width: 56px !important;
    height: 22px;
    border-radius: 11px;

    &::after {
      top: 1px;
      width: 18px;
      height: 18px;
    }
  }

  &[type='large'] {
    height: 30px;

    &.is-checked .el-switch__core {
      background: rgba(135, 134, 191, 0.4);

      &::after {
        margin-left: -26px;
      }
    }

    .el-switch__label {
      position: absolute;
      z-index: 1;
      height: 30px;
      margin: 0;
      line-height: 30px;

      span {
        font-size: 14px;
      }

      &.el-switch__label--left {
        display: none;
        right: 10px;
        color: #8786bf;
      }

      &.el-switch__label--right {
        display: none;
        left: 10px;
        color: #fff;
      }

      &.is-active {
        display: inline-block;
      }
    }

    .el-switch__core {
      width: 72px !important;
      height: 30px;
      border-radius: 15px;

      &::after {
        top: 2px;
        width: 24px;
        height: 24px;
      }
    }
  }
}

// 自定义穿梭框
.custom-transfer {
  display: flex;
  align-items: center;
  justify-content: center;

  .transfer-table {
    box-sizing: border-box;
    padding: 0 10px;
    overflow-y: auto !important;
    background-color: transparent !important;

    &::before {
      content: none !important;
    }

    .el-table__header-wrapper {
      th {
        border: none;
      }
    }

    .el-table__body-wrapper {
      .el-table__body {
        width: initial !important;
        border-spacing: 0 5px;
      }

      .el-table-column--selection {
        font-weight: 600;
        color: $mainblue;
      }

      td {
        padding: 5px 0;
        border: none;
      }
    }
  }

  .source-table,
  .target-table {
    display: flex;
    flex-direction: column;
    width: 326px;
    height: 308px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e8e9ea;

    .table-header {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      height: 42px;
      padding: 0 15px;
      border-radius: 9px 9px 0px 0px;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(232, 233, 234, 1) 100%
      );
      font-size: 12px;
      font-weight: 600;
      color: $textcolor2;

      .num {
        margin: 0 5px;
        font-weight: 600;
        color: $subcolor2;
      }
    }

    .table-footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-shrink: 0;
      height: 50px;
      padding: 0 12px;
      border-top: 1px solid #e8e9ea;

      .target {
        color: $subcolor2;
        background-color: rgba(246, 215, 228, 0.2);
        border: 1px solid rgba(241, 183, 208, 1);

        &:hover {
          color: $subcolor2;
          background-color: rgba(246, 215, 228, 0.2);
          border: 1px solid rgba(241, 183, 208, 1);
        }
      }
    }
  }

  .move-btn {
    width: 24px;
    height: 24px;
    margin: 0 6px;
  }
}

// 按钮控件
.el-button {
  &.cancel {
    width: 90px;
    height: 36px;
    padding: 0 !important;
    border: none !important;
    border-radius: 18px !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 36px !important;
    text-align: center !important;
    color: $subcolor2 !important;
    background-color: $subcolor5 !important;

    &:hover {
      color: $subcolor2 !important;
      background-color: $subcolor5 !important;
      box-shadow: 0px 12px 24px -12px rgba(87, 85, 179, 0.5) !important;
    }
  }

  &.confirm {
    width: 90px;
    height: 36px;
    padding: 0 !important;
    border: none !important;
    border-radius: 18px !important;
    font-size: 12px !important;
    line-height: 36px !important;
    text-align: center !important;
    color: #fff !important;
    background-color: $mainblue !important;

    &:hover {
      color: #fff !important;
      background-color: $mainblue !important;
      box-shadow: 0px 12px 24px -12px rgba(87, 85, 179, 0.5) !important;
    }
  }

  &.preview {
    box-sizing: border-box;
    width: 84px;
    height: 30px;
    padding: 0 !important;
    border: none !important;
    border-radius: 18px !important;
    font-size: 12px !important;
    line-height: 30px !important;
    text-align: center !important;
    color: $textcolor1 !important;
    border: 1px solid $bordercolor !important;
    background-color: #fff !important;

    &:hover {
      color: $mainblue !important;
      border-color: $mainbluelight !important;
      background-color: $backcolor !important;
      box-shadow: 0px 12px 24px -12px rgba(87, 85, 179, 0.3) !important;
    }
  }

  &.prev {
    box-sizing: border-box;
    width: 90px;
    height: 36px;
    padding: 0 !important;
    border: none !important;
    border-radius: 18px !important;
    font-size: 12px !important;
    line-height: 36px !important;
    text-align: center !important;
    color: $textcolor1 !important;
    border: 1px solid $bordercolor !important;
    background-color: #fff !important;

    &:hover {
      color: $mainblue !important;
      border-color: $mainbluelight !important;
      background-color: $backcolor !important;
      box-shadow: 0px 12px 24px -12px rgba(87, 85, 179, 0.3) !important;
    }
  }

  &.subBtn {
    &.el-button--bold {
      width: 84px;
      height: 30px;
      padding: 0;
      border: none;
      border-radius: 18px;
      font-size: 12px;
      font-weight: 500;
      line-height: 30px;
      text-align: center;
      color: $mainblue;
      border: 1px solid $mainbluelight;
      background-color: $backcolor;

      &:hover {
        color: $mainblue;
        border: 1px solid $mainbluelight;
        background-color: $backcolor;
        box-shadow: 0px 12px 24px -12px rgba(87, 85, 179, 0.5);
      }
    }

    &.el-button--regular {
      height: 30px;
      padding: 0 30px;
      border: none;
      border-radius: 18px;
      font-size: 12px;
      font-weight: 500;
      line-height: 30px;
      text-align: center;
      color: $mainblue;
      border: 1px solid $mainbluelight;
      background-color: $backcolor;

      &:hover {
        color: $mainblue;
        border: 1px solid $mainbluelight;
        background-color: $backcolor;
        box-shadow: 0px 12px 24px -12px rgba(87, 85, 179, 0.5);
      }
    }
  }
}

// tree
.custom-tree {
  min-width: 188px;
  margin: 20px 10px 20px 0;
  padding: 18px 12px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 8px 10px 0px rgba(232, 235, 244, 0.63);

  .title {
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    color: $textcolor1;
    cursor: pointer;
  }

  .el-tree {
    margin-top: 20px;
  }
}

// select
.el-select-dropdown {
  .el-select-dropdown__item {
    &.hover {
      font-weight: 500;
      color: $mainblue;
      background-color: rgba(135, 134, 191, 0.15);
    }
  }
}

.border-none .el-input__inner {
  border: none;
}

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: mix(#fff, #f1b7d0, 50%) !important;
}

.global-loading {
  z-index: 9999 !important;
}
